body {
    overflow-x: hidden;
}
/* Search */
.main-logo {
    background: #b22222;
    color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 10px solid #e41111;
    padding: 20px;
    z-index: 1;
    position: relative;
    top: -40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-logo img {
    position: absolute;
    width: 40px;
    top: 15px;
    left: 8px;
}
.main-logo p {
    font-size: 24px;
    margin: 25px auto;
    text-align: center;
    font-family: 'Rockwell-ExtraBold'
}
.search-form {
    width: calc(100% - 380px);
    height: 80px;
    background-color: #FFF;
    margin-left: 120px;
    border-radius: 30px;
    border: solid 10px #9ba7b7;
    margin-top: 30px;
}
.search-form-container {
    height: 100%;
}
.category-select select {
    width: 120px;
    border: none;
    margin-left: 10px;
}
.category-select select:focus-visible {
    border: none;
    outline: none;
}
.search-input {
    width: calc(100% - 300px);
}
.search-input input {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 20px;
}
.search-input input:focus-visible {
    border: none;
    outline: none;
}
.search-splite-line {
    margin-top: 15px;
    margin-bottom: 15px;
    height: calc(100% - 30px);
    width: 1px;
    background-color: #696969;
    margin-left: 10px;
}
.search-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #b22222;
}
.links, .links a {
    color: #FFF;
}
.links .active {
    color: #E7E4A7;
}
@media screen and (max-width: 1200px) {
    .main-logo {
        left: 50px;
    }
    .search-form {
        width: 100%;
        margin-left: 50px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 768px) {
    .main-logo {
        display: none;
    }
    .search-form {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 576px) {
    .search-form {
        margin-left: 0px;
        margin-right: 0px;
    }
    .category-select select {
        width: 100px;
    }
    .search-splite-line {
        margin-left: 0px;
    }
}
